@charset "ISO-8859-1";
body{
	background-color: #F2CD93;
	
}

h1{
	text-align: center;
	font-family:sans-serif;
		
	color: #862F06;
}
div#uno{
	text-align: left;
}
div#dos{
	text-align: center;
}
div#tres{
	position: absolute;
	left: 75%;
	bottom: 10%;
}
img#carta{
max-width:200px;
width:100%;

}
img#taza{
max-width:200px;
width:100%;

}
img#tel{

max-width:250px;
width:100%;

}
a.sin{
	color: #A35A09;
	text-decoration: none;
	font-size: 25px;
}
a.links{
	font-size: 25px;
	
}
footer{
  background-color: black;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  color: white;
text-align: center;	
}
