.fondo {
    background-color: rgb(238, 161, 122);

}

h1#titulo {
    text-align: center;
    color: brown;
}
section.centrado {
   position: relative;
   right: -37%;
}
section.derecha {
  position: relative;
    position: relative;
    right: -80%;
}